# Artefacts générés par OpenFOAM (par cas)
*/[0-9]*
*/[0-9]*.[0-9]*
!*/0.orig
*/processor*
*/postProcessing/
*/constant/polyMesh/
*/constant/extendedFeatureEdgeMesh/
*/constant/triSurface/
*/dynamicCode/
*/log.*
*/*.foam

# Python
scripts/__pycache__/
